# Git
.git
.github

# IDE
.idea
*.iml

# Maven build output
target

# Logs
*.log

# Environment secrets
.env
.env.*

# Tests
src/test

# Documentation
README.md

# Docker local files
docker-compose.yml

# OS files
.DS_Store
Thumbs.db